.cardContainer{
    width: 270px;
    height: 170px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translate3d(0,0,0);
    display: block;
    z-index: 905;
    animation: 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal both running flip-vertical-right;
    /* animation: flip-scale-up-ver 0.5s linear both; */
}




.face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    text-align: center;
}

.front{
    /* background: #2dccb8; */
    z-index: 20;
}

.back{
    /* background: #53a3dc; */
    z-index: 10;
    transform: rotateY(180deg);
}


@keyframes flip-vertical-right {
    0% {
        transform: scale(1) rotateY(0);
    }

    25% {
        transform: scale(0.8) rotateY(0);
    }
    75% {
      /* -webkit-transform: rotateY(180deg); */
              transform: scale(0.8) rotateY(180deg);
    }
    100%{
        transform: scale(1) rotateY(180deg);
    }
  }


  @keyframes flip-scale-up-ver {
    0% {
        -webkit-transform: scale(1) rotateY(0);
                transform: scale(1) rotateY(0);
      }
    50% {
    -webkit-transform: scale(1.5) rotateY(90deg);
            transform: scale(1.5) rotateY(90deg);
    }
    100% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
    }
  }
  